<section style="background-color: #c383ff; height:100vh">
    <div class="container">
    <div class="row">
            {{#each users}}
            <div class="col-md-4">
                <div class="card mt-5 warning" style="width: 18rem;">
                    <img class="card-img-top" src=".." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.Email}}</p>
                        <p class="card-text">{{this.Age}}</p>
                        <p class="card-text">{{this.Gender}}</p>
                        <p class="card-text">{{this.Email}}</p>
                        <p class="card-text">{{this.Mobile}}</p>
                        <a href="/admin/remove-user/{{this._id}}" class="btn btn-danger">Remove</a>
                    </div>
                </div>
            </div>
            {{/each}}
    </div>
    </div>
</section>