<section class="cart">
    <div class="container">
        <h2>Cart</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>      
                    <td><img style="width: 70px;height:70px" src="/product-images/{{this.product._id}}.jpeg" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>
                    <td>
                        <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                    </td>
                    <td>
                        <button class="remove-cart btn btn-danger" onclick="removeCart('{{this._id}}','{{this.product._id}}','{{../user._id}}','{{this.product.Name}}')">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr style="background-color: #fff;">
        <div class="float-right pr-5">
        <h3 class="float-left mr-5">Total: Rs.<span id="total">{{totalValue}}</span>.00</h3><br>
        {{#ifGreater totalValue 0}}
        <a href="/place-order" class="btn btn-success mt-3" style="width: 100%;"><b>Place Order</b></a>
        {{/ifGreater}}
        </div>
    </div>
</section>

<script>
    function changeQuantity(cartId,proId,userId,count){
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                alert("Product Removed from cart")
                location.reload()
                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total
                }
            }
        })
    }
    function removeCart(cartId,proId,userId,name){
      let check = confirm("Are you sure to remove "+name+" from cart ?")
      if(check==true){
        $.ajax({
            url:'/remove-cart',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
            },
            method:'post',
            success:(response)=>{
                location.reload()
            }
        })
      }
    }
</script>