<section class="view-Prod">
    <div class="container">
        <div class="row mt-4">
        <table class="table mt-5" id="table1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Pincode</th>
                    <th>Mobile</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th>Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.pincode}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>{{this.totalAmount}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
                    </td>
 
                </tr>
                {{/each}}
            
            </tbody>
        </table>
        </div>
    </div>
</section>