<section class="profile-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-left: 23%;">
                <h2 class="text-center">Profile</h2>
               <div class="profile" style="padding: 96px;margin-top: -37px;">
                   <h4>Name: {{user.Name}}</h4>
                   <h4>Age: {{user.Age}}</h4>
                   <h4>Gender: {{user.Gender}}</h4>
                   <h4>Email: {{user.Email}}</h4>
                   <h4>Mobile: {{user.Mobile}}</h4> <br>
                   <a class="btn btn-primary" href="/edit-profile">Edit Profile</a>
               </div>
            </div>
        </div>
    </div>
</section>