<section class="profile-section">
    {{!-- profile page --}}
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-left: 23%;">
                <h2 class="text-center">Profile</h2>
                <div class="profile" style="padding: 96px;margin-top: -37px;">
                    <h3>Name: {{userDetails.Name}}</h3>
                    <h3>Age: {{userDetails.Age}}</h3>
                    <h3>Gender: {{userDetails.Gender}}</h3>
                    <h3>Email: {{userDetails.Email}}</h3>
                    <h3>Mobile: {{userDetails.Mobile}}</h3> <br>
                    <button id="btn" class="btn btn-primary">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- Edit profile Popup page --}}
    <div class="edit-profile">
        <div class="popup">
            <div class="popup-content">
                <h2 class="text-center">Edit Profile</h2>
                <form action="/profile/{{userDetails._id}}" method="POST">
                    <img src="" alt="" class="close">
                    <label for="">Name:</label>
                    <input type="text" name="Name" value="{{userDetails.Name}}" class="form-control">

                    <label for="">Age:</label>
                    <input type="text" name="Age" value="{{userDetails.Age}}" class="form-control">

                    <label for="">Gender:</label> <br>
                    <input type="radio" name="Gender" value="Male">
                    <label for="">Male</label>
                    <input type="radio" name="Gender" value="Female">
                    <label for="">Female</label>
                    <br>
                    <label for="">Email Id:</label>
                    <input type="text" name="Email" value="{{userDetails.Email}}" class="form-control">

                    <label for="">Mobile Number:</label>
                    <input type="text" name="Mobile" value="{{userDetails.Mobile}}" class="form-control"
                        style="margin-bottom: 10px;">
                    <a href="/change-passwd" style="color: #fff; text-decoration: none;" class="change-passwd">Change
                        Password</a> <br>

                    <button type="submit" id="submit" class="btn btn-success mt-3 ">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById('btn').addEventListener('click', () => {
        document.querySelector(".popup").style.display = "flex";
    })
    document.querySelector(".close").addEventListener('click', () => {
        document.querySelector('.popup').style.display = "none";
    })
    document.querySelector("#submit").addEventListener('click', () => {
        document.querySelector('.popup').style.display = "none";
    })
</script>