<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem;height:28rem;padding-top: 1rem;">
                    <img class="card-img-top" src="/product-images/{{this._id}}.jpeg" alt="Mobile Image"
                        style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <h6 class="card-text">Rs.{{this.Price}}</h6>
                        <p class="card-text" style="font-size: smaller;">{{this.Description}}</p>
                        <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>