<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}

            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem;height:28rem;padding-top: 1rem;">
                    <img class="card-img-top" src="/product-images/{{this.product.Name}}.jpeg" alt="Mobile Image"
                        style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.product.Name}}</h5>
                        <p class="card-text">Rs.{{this.product.Price}}</p>
                        <p class="card-text">Quantity : {{this.quantity}}</p>
                        <p class="card-text">{{this.Description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>